body {
    width: 100%;
    height: 100%;
    display: flex;
    text-justify: 5px;
    position: relative;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: bold;

}

/* all navbar */

.navbar {
    display: flex;
    background-color: #485363;
    width: 100%;
    position: sticky;
    top: 0px;
    left: 0px;
    justify-content: flex-start;
    flex-wrap: wrap;
}

.right-side {
    display: flex;
    gap: 0.5rem;
    padding: 0.5rem;
    margin-left: auto;
}

form {
    display: flex;
    flex: 1 1 auto;
    gap: 0.5rem;
}

.title, .left-side {
    display: flex;
    gap: 1rem;
    padding: 1rem;
}



/* Inputs and buttons */

input {
    border-radius: 3px;
    width: 300px;
}

a {
     text-decoration: none;
     color: white;
}

.disabled-button {
    border: none;
    color: grey;
}

/* Dropdown menu */

select {
    border: none;
    background-color: #485363;
    color: white;
}

/* Search Button */

button{
    border-radius: 3px;
    color: rgb(27, 134, 68);
    border-color: rgb(27, 134, 68);
    background-color: #485363;
    height: 100%;
    transition-duration: 4ms;
}

.right-side button:hover {
    color: white;
    background-color: rgb(27, 134, 68);
}

/* media query */

@media (max-width: 768px) {
    .left-side, .right-side {
        display: none;
    }

    .hamburger {
        display: flex;

    }

}
